---
layout:       default
title:        Home
---
<div>
{% for post in paginator.posts %}
  <article class="post-teaser">
    <div class="teaser-heading">
      <h2>
        <a href="{{ post.url | absolute_url }}" class="teaser-heading">{{ post.title }}</a>
      </h2>
    </div>
    <div class="teaser-tags">
      {% assign tags_string = "" %}
      {% for tag in post.tags %}
        {% include tag.html %}
      {% endfor %}
      {% assign tags_string = tags_string | append: ' ' %}
      <span>{{ tags_string | replace: ',  ' }}</span>
    </div>
    <div class="teaser-extract">
      {{ post.extract }}
    </div>
    <div class="teaser-footer">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
      <a href="{{ post.url | absolute_url }}">continue reading</a>
    </div>
  </article>
{% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item disabled">Older</span>
  {% endif %}
  &nbsp;
  {% if paginator.previous_page %}
    <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item disabled">Newer</span>
  {% endif %}
</div> -->
