---
layout:       default
title:        Home
---
<div class="posts">
{% for post in paginator.posts %}
  <article class="post">
    <div class="post-extract">
      <a href="{{ post.url | absolute_url }}" class="post-heading">
        {{ post.heading }}
      </a>
      {{ post.extract }}
    </div>
    <div id="post-content" class="post-content">
      {{ post.content }}
    </div>
    <div class="post-footer">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
      <a class="post-ellipses" href="#">&nbsp;&nbsp;...&nbsp;&nbsp;</a>
    </div>
  </article>
{% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item" href="{{ paginator.next_page_path | prepend: site.baseurl }}">older</a>
  {% else %}
    <span class="pagination-item disabled">older</span>
  {% endif %}
  &nbsp;&nbsp;
  {% if paginator.previous_page %}
    <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">newer</a>
  {% else %}
    <span class="pagination-item disabled">newer</span>
  {% endif %}
</div>
