---
layout:       default
title:        Home
---
<div class="posts">
{% for post in paginator.posts %}
  <article class="post">
    <div class="post-heading">
      <h2>
        <a href="{{ post.url | absolute_url }}" class="post-heading">{{ post.heading }}</a>
      </h2>
    </div>
    <div class="post-tags">
      <span>cyber101, cyber-hygene</span>
    </div>
    <div class="post-extract">
      {{ post.extract }}
    </div>
    <div class="post-footer">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
      <a href="{{ post.url | absolute_url }}">CONTINUE READING</a>
    </div>
  </article>
{% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item disabled">Older</span>
  {% endif %}
  &nbsp;
  {% if paginator.previous_page %}
    <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item disabled">Newer</span>
  {% endif %}
</div> -->
