* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  font-family: $root-font-family;
  
  // Small font for smaller screens, media query handles larger font for larger screens.
  font-size: $large-font-size;
  font-weight: $weight-light;
  line-height: 1.25;
}

body {
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

  position: relative;
}

main {
  // Spacing from top of page to first item.
  // Compensates for height of header.
  margin-top: 1em;
  margin-bottom: 4em;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  // Link animations.
  -webkit-transition: all $transition-duration ease-in-out;
     -moz-transition: all $transition-duration ease-in-out;
       -o-transition: all $transition-duration ease-in-out;
          transition: all $transition-duration ease-in-out;

  color: $link-color;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  // Changing the color of the link will override this
  // &:hover,
  // &:focus {
  //   text-decoration: none;
  //   color: $primary;
  // }

  strong {
    color: inherit;
  }

  small {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 50em;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

strong {
  font-weight: $weight-medium;
}

.no-animation {
  -webkit-transition: none !important;
     -moz-transition: none !important;
       -o-transition: none !important;
          transition: none !important;
}

@media screen and (max-width: $small-screen-width) {
  main {
    margin-bottom: 5em;
  }
}