.cookie-consent-message {
  -webkit-transition: all $transition-duration ease-in-out;
     -moz-transition: all $transition-duration ease-in-out;
       -o-transition: all $transition-duration ease-in-out;
          transition: all $transition-duration ease-in-out;

  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;

  // // Height is important for header location.
  // height: 4em;

  padding: 1em $edge-padding-normal;
  font-size: .45em;
  font-weight: $weight-medium;
  color: white;
  background: $red;

  // Used to glue the consent message to bottom of header.
  //margin: -.5em 0 1em 0;

  // Centres cookie consent message in container.
  text-align: center;

  a {
    text-decoration: underline;
    color: white;
  }
}

.cookie-consent-message-pinned {
  -webkit-transition: all $transition-duration ease-in-out;
     -moz-transition: all $transition-duration ease-in-out;
       -o-transition: all $transition-duration ease-in-out;
          transition: all $transition-duration ease-in-out;

  position: fixed;
  top: 0;
  left: 0;
}

.cookie-consent-message-hidden {
  height: 0;
  display: hidden;
}

@media screen and (max-width: $small-screen-width) {
  .cookie-consent-message {
    padding: 1em $edge-padding-narrow;

    // Used to glue the consent message to bottom of header.
    //margin: -1.1em 0 1em 0;
  }
}