.cookie-consent-message {
  width: 100%;
  padding: 1em $edge-padding-normal;
  font-size: .55em;
  font-weight: $weight-medium;
  color: white;
  background: $red;
  text-align: center;

  a {
    text-decoration: underline;
    color: white;
  }
}

.cookie-consent-message-overlay {
  // -webkit-transition: -webkit-opacity $transition-duration ease-in-out;
  // -webkit-transition: opacity $transition-duration ease-in-out;
  //    -moz-transition: opacity $transition-duration ease-in-out;
  //      -o-transition: opacity $transition-duration ease-in-out;
  //         transition: opacity $transition-duration ease-in-out;

  -webkit-transition: opacity 2s ease-in-out;
     -moz-transition: opacity 2s ease-in-out;
       -o-transition: opacity 2s ease-in-out;
          transition: opacity 2s ease-in-out;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 0;
}

@media screen and (max-width: $small-screen-width) {
  .cookie-consent-message {
    padding: 1em $edge-padding-narrow;
  }
}