.cookie-consent-message {
  width: 100%;
  padding: 1em $edge-padding-normal;
  font-size: .55em;
  font-weight: $weight-medium;
  color: white;
  background: $red;
  text-align: center;
  line-height: 1.7em;

  a {
    text-decoration: underline;
    color: white;
  }
}

.cookie-consent-message-overlay {
  -webkit-transition: opacity $transition-duration-long ease-in-out;
     -moz-transition: opacity $transition-duration-long ease-in-out;
       -o-transition: opacity $transition-duration-long ease-in-out;
          transition: opacity $transition-duration-long ease-in-out;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.cookie-consent-message-overlay-visible {
  opacity: 1;
}

.cookie-consent-message-overlay-hidden {
  opacity: 0;
}

@media screen and (max-width: $small-screen-width) {
  .cookie-consent-message {
    padding: 1em $edge-padding-narrow;
  }
}