.error-container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.error-page {
  -webkit-transition: font-size $transition-duration ease-in-out;
     -moz-transition: font-size $transition-duration ease-in-out;
       -o-transition: font-size $transition-duration ease-in-out;
          transition: font-size $transition-duration ease-in-out;

  font-size: 1.5em;
  font-weight: $weight-semi-bold;
  color: $red;
  text-align: center;
}

@media screen and (max-width: $small-screen-width) {
  .error-page {
    font-size: 1.1em;
  } 
}