$root-font-family: 'Montserrat', sans-serif; /*-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;*/

$post-content-font-size: 1.25em;

// For code block syntax highlighting.
$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;