.container {
  max-width: $max-width;
  padding-top: 4em;
  padding-left: $edge-padding;
  padding-right: $edge-padding;
  margin-left: auto;
  margin-right: auto;

  /* footer specific */
  height: 100%;
  flex-grow: 1;
}

.footer-container {
  min-width: 100%;
  background: #000;

  footer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-left: $edge-padding;
    max-width: $max-width;
    height: 4em;
    background: #000;
    color: #fff;

    .copyright {
      font-size: .5em;
    }
  }
}