.masthead {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: $body-bg;
  border-bottom: 2px solid $red;
  z-index: 1;

  h1 {
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

    padding-top: 1em;
    padding-bottom: 1em;
  }

  @media screen and (max-width: 44em) {
    h1 {
      font-size: .55em;
    }
  }
}

.masthead-title {
  width: 100%;
  margin: 0;
  padding-left: $edge-padding;
  padding-right: $edge-padding;
  color: $red;
  display: inline-block;
  text-align: center;

  font-weight: $weight-bold;
  font-size: .65em;
}

.header-hidden-on-scroll {
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.header-visible-on-scroll {
  transition: opacity .3s ease-in-out;
  opacity: 1;
}