.masthead {
  position: fixed;
  left: 0;
  top: 0;
  height: 3em;
  min-width: 100%;

  h1 {
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
    font-size: 1.45em;
    font-weight: 300;
  }
}

.masthead-title {
  max-width: $max-width;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: $edge-padding;
  color: $text-color;
  display: inline-block;
  background: $body-bg;

  a {
    color: inherit;
    text-decoration: none;
  }

  span {
    font-size: 100%;
    font-weight: $weight-light;
  }

  small {
    font-size: 75%;
    font-weight: $weight-light;
  }
}

.masthead-ellipses {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: .25em;
  padding-right: $edge-padding * 1.5;

  a {
    text-decoration: none;
  }

  span {
    color: $green;
    font-size: 1em;
    font-weight: 900;
  }
}

.masthead-nav {
  max-width: $max-width;
  display: none;
  margin: 0;
  padding: 0;
  padding-right: $edge-padding;
  background: $body-bg;
  width: 100%;

  ul {
    list-style: none;
    text-align: right;
    line-height: 1.25em;
    padding-right: .3em;
  }
}