.masthead {
  width: 100%;
  // position: fixed;
  // top: 4em;
  // left: 0;

//  font-size: 200%;

  color: $primary;
  background: $body-bg;
  border-bottom: $border-thickness solid $primary;

  h1 {
    -webkit-transition: all $transition-duration ease-in-out;
       -moz-transition: all $transition-duration ease-in-out;
         -o-transition: all $transition-duration ease-in-out;
            transition: all $transition-duration ease-in-out;

    margin: 0 auto;
    padding: .5em $edge-padding-normal;
    color: $primary;
    background: $body-bg;
    display: block;
    text-align: center;
    font-weight: $weight-medium;
  }

  a {
    color: $primary;

    &:focus,
    &:hover {
      //font-size: 110%;
    }
  }
}

.header-hidden-on-scroll {
  -webkit-transition: opacity $transition-duration ease-in-out;
     -moz-transition: opacity $transition-duration ease-in-out;
       -o-transition: opacity $transition-duration ease-in-out;
          transition: opacity $transition-duration ease-in-out;

  opacity: 0;
}

.header-visible-on-scroll {
  -webkit-transition: opacity $transition-duration ease-in-out;
     -moz-transition: opacity $transition-duration ease-in-out;
       -o-transition: opacity $transition-duration ease-in-out;
          transition: opacity $transition-duration ease-in-out;

  opacity: 1;
}

@media screen and (max-width: $small-screen-width) {
  // .masthead {
  //   h1 {
  //     font-size: .55em;
  //   }
  // }
}