.pagination {
  overflow: hidden; // clearfix
  margin: 0 -1.5rem 1rem;
  color: #ccc;
  text-align: center;
  margin-bottom: 1.25em;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: inline-block;
  color: $green;
}

.disabled {
  color: $green-faded;
}

@media (min-width: 30em) {
  .pagination {
    margin: 1.5rem 0;
  }

  .pagination-item {
    font-family: 'Montserrat', sans-serif;
    font-size: .65em;
    font-weight: 200;
    text-decoration: none;
  }
}