a,
time {
  white-space: normal;
  color: inherit;
  background: inherit;
}

.categories {
  padding-top: .2em;
  font-weight: $weight-medium;
  color: $primary;

  //background: gold;
}

.page,
.post-full {
  h2 {
    margin: 1.75em 0 .75em;
  }

  h3 {
    margin: 1.5em 0 .5em;
  }

  h4 {
    margin: 1em 0 .5em;
  }
}

/***********************************************************/
/* Post teasers are the extracts visible on the main page. */
/***********************************************************/
.post-teaser {
  // Space between teasers.
  margin-bottom: 2.5em;

  .teaser-extract {
    margin: .5em 0 1em;
  }

  .teaser-footer {
    font-size: $small-font-size;
    font-weight: $small-font-weight;
    display: flex;
    flex-direction: row;

    a,
    time{
      padding: .1em $button-edge-padding;
    }

    time {
      border: $border-thickness solid $primary;
      border-top-left-radius: $border-corner-radius;
      border-bottom-left-radius: $border-corner-radius;
      color: $primary;
    }

    a {
      -webkit-transition: all $transition-duration ease-in-out;
         -moz-transition: all $transition-duration ease-in-out;
           -o-transition: all $transition-duration ease-in-out;
              transition: all $transition-duration ease-in-out;

      margin-left: -5px;
      color: $primary-inverted;
      background: $primary;
      border: $border-thickness solid $primary;
      border-top-right-radius: $border-corner-radius;
      border-bottom-right-radius: $border-corner-radius;

      // Reduce weight for balance.
      font-weight: $weight-regular;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $primary;
        background: $body-bg;

        // Increase font weight for invert for balance.
        font-weight: $weight-medium;
      }
    }
  }

  div {
    display: block;
  }

  li + li {
    margin-top: .25rem;
  }

  @media screen and (max-width: $small-screen-width) {
    margin-bottom: 1.8em;
  }
}

/******************/
/* The main post. */
/******************/
.post-full {
  .post-sub-heading {
    font-weight: $weight-medium;
    color: $primary;

    span {
      display: block;
    }

    time {
      display: block;
    }
  }

  .post-content {
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: $post-body-text-font-weight;
  }

  .post-related-articles {
    width: 100%;
    border: $border-thickness solid $primary;
    border-radius: $border-corner-radius;

    h2 {
      margin: 0;
    }

    ul {
      margin: 0;

      // Additional padding for top and bottom of list.
      // More padding will be added for the li.
      // This ensures the top and bottom padding matches the padding
      // between titles.
      padding: .4em 0;

      font-weight: $weight-medium;
      list-style-type: none;
    }

    li {
      padding: .4em .5em;
    }
  }

  .post-related-articles-heading {
    padding: .3em .6em;
    font-weight: $weight-regular;
    color: $primary-inverted;
    background: $primary;
  }

  @media screen and (max-width: $small-screen-width) {
    .post-content {
      margin-top: 1em;
      margin-bottom: 0em;
    }

    .post-related-articles {
      // Bottom margin allowance for footer height increase on
      // smaller screens.
      margin: 0 0 5em 0;

      li {
        // Margin for related article titles.
        padding: .4em .5em;
      }
    }
  }
}

/***************************/
/* Related articles pages. */
/***************************/
.related-articles-heading {
  padding: 0 $edge-padding-normal;
  font-weight: $weight-medium;
  color: $primary;
  text-align: center;

  @media screen and (max-width: $small-screen-width) {
    padding: .5em $edge-padding-narrow 1em;
  }
}