$body-text-font-size: .6em;
$body-text-font-weight: $weight-regular;

.page,
.post {
}

a,
time {
  white-space: normal;
}

/* Post teaser is the extracts visible on the main page. */
.post-teaser {
  // Space between teasers.
  margin-bottom: 1.75em;

  .teaser-heading {
    font-size: 1.3em;

    h2 {
      margin: 0;
      padding: 0;
    }
  }

  // For date format in main post.
  .teaser-sub-heading {
    font-size: .4em;

    time {
      color: $red;
    }
  }

  .teaser-tags {
    margin: 0;
    margin-top: .1em;
    padding: 0;
    font-size: .6em;
    font-weight: $weight-medium;
    color: $red;
  }

  .teaser-extract {
    font-size: $body-text-font-size;
    font-weight: $body-text-font-weight;
    margin: 0;
    margin-top: .8em;
    margin-bottom: 1.2em;
  }

  .teaser-footer {
    font-size: 0.4em;
    font-weight: $weight-medium;
    display: flex;
    flex-direction: row;

    time {
      margin: 0;
      padding: .4em;
      padding-left: $edge-padding;
      padding-right: $edge-padding;
      border: 2px solid $red;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      color: $red;

      // Prevent date collapsing when screen width reduces.
      white-space: normal; //nowrap;
    }

    a {
      // Link animations.
      -webkit-transition: all $transition-duration ease-in-out;
         -moz-transition: all $transition-duration ease-in-out;
           -o-transition: all $transition-duration ease-in-out;
              transition: all $transition-duration ease-in-out;

      margin: 0;
      margin-left: -5px;
      padding: .4em;
      padding-left: $edge-padding;
      padding-right: $edge-padding;;
      color: white;
      background: $red;
      border: 2px solid $red;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      &:hover,
      &:focus {
        font-weight: $weight-medium;
        text-decoration: none;
        color: $red;
        background: white;
      }
    }
  }

  div {
    display: block;
  }

  li + li {
    margin-top: .25rem;
  }

  @media screen and (max-width: $small-screen-width) {
    .teaser-heading {
      font-size: 1.1em;
    }
    
    .teaser-tags {
      font-size: .5em;
    }
  }
}

/******************/
/* The main post. */
/******************/
.post-full {
  margin: 0;
  padding: 0;
  font-size: $large-font-size;
  line-height: .85em;

  .post-heading {
    -webkit-transition: font-size $transition-duration ease-in-out;
       -moz-transition: font-size $transition-duration ease-in-out;
         -o-transition: font-size $transition-duration ease-in-out;
            transition: font-size $transition-duration ease-in-out;

    font-size: 1.85em;
    font-weight: $weight-regular;

    h2 {
      margin: 0;
      padding: 0;
    }
  }

  .post-sub-heading {
    font-size: .6em;
    font-weight: $weight-medium;
    color: $red;

    time,
    span {
      display: block;
    }

    a {
      color: $red;
    }
  }

  .post-content {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: $body-text-font-size;
    font-weight: $body-text-font-weight;
  }

  .post-related-articles {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: .6em;
    font-weight: $weight-medium;
    border: 2px solid $red;
    border-radius: 4px;

    div {
      margin: 0;
      padding: .4em .8em;
      font-size: .7em;
      font-weight: $weight-medium;
      color: white;
      background: $red;
    }

    ul {
      margin: 0;
      padding: .4em .8em;
      padding-bottom: 1.2em;
      list-style-position: inside;
    }

    li {
      list-style: none;
      margin-top: .5em;
    }
  }

  @media screen and (max-width: $small-screen-width) {
    .post-heading {
      font-size: 1.5em;
    }

    .post-sub-heading {
      font-size: .5em;
    }

    .post-content {
      margin-top: 1em;
      margin-bottom: 0em;
    }

    .post-related-articles {
      margin-top: 0em;
      margin-bottom: .5em;
    }
  }
}