// Fonts.
$weight-extra-light: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

$large-breakpoint: 38em;
$large-font-size: 26px;
$small-font-size: .45em;
$small-font-weight: $weight-regular;

// Paddings.
$button-edge-padding: 1em;
$edge-padding-normal: 10%;
$edge-padding-narrow: 3%;

// Media queries.
$small-screen-width: 44em;

// Animations and transitions.
$transition-duration: .3s;
$transition-duration-long: 1s;

// Pagination.
$pagination-opacity: .4;

// Posts.
$post-body-text-font-size: .6em;
$post-body-text-font-weight: $weight-regular;

// Footer.
$footer-list-item-edge-padding: .4em;
$footer-vertical-padding-normal: 1.2em;
$footer-vertical-padding-narrow: .5em;

// Colours.
$body-bg: white;
$text-color: Black;
$link-color: Black; // Used for links in headings.
$heading-color: #313131;
$primary:#c62641;
$primary-inverted: white;
