---
layout: default
---
<div class="form-container">
  <div class="form-left-panel">
    <p>Please use the form to get in touch. By sending a message you agree to the details you provide being used to help answer your query, such as being contacted via email.</p>
  </div>
  <div class="form-right-panel">
    <form>
      <input type="text" id="name" name="name" placeholder="YOUR NAME" maxlength="100" required />
      <input type="email" id="email" name="email" placeholder="YOUR EMAIL" maxlength="100" required />
      <textarea id="message" name="message" placeholder="YOUR MESSAGE" maxlength="300" required></textarea>
      <button class="form-submit" type="submit">send</button>
    </form>
  </div>
</div>