---
layout: default
---
<div class="form-container">
  <div class="form-left-panel">
    <p>By sending your message you agree to the details you provide being used to help answer your query, such as being contacted via email. For details about how your details will be used please see the <a href="{{ site.url }}/privacy-and-cookies-policy.html">Privacy and Cookies</a>  policy.</p>
  </div>
  <div class="form-right-panel">
    <form>
      <input type="text" id="name" name="name" placeholder="Your name" maxlength="100" required />
      <input type="email" id="email" name="email" placeholder="Your email" maxlength="100" required />
      <textarea id="message" name="message" placeholder="Your message" maxlength="300" required></textarea>
      <button class="form-submit" type="submit">Send</button>
    </form>
  </div>
</div>