<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container">
      <!-- Header -->
      <header class="masthead">
        <h1 class="masthead-title"><a href="{{ site.url }}/">CYBER EXPLAINED</a></h1>
      </header>

      <!-- Content  -->
      <main>
        {{ content }}
      </main>

      <div>
        <span>iPad test</span>
      </div>
    </div>

    <!-- Footer -->
    <!-- <div class="footer-container"> -->
      <footer class="footer">
        <span class="copyright">&copy; CYBER EXPLAINED 2018 ~ <a href="#" class="legal">LEGAL</a></span>
        <!-- <div class="left-panel">
          <div class="copyright">
            <ul>
              <li>&copy; CYBER EXPLAINED 2018. All rights reserved.</li>
            </ul>
          </div>
        </div>
        <div class="right-panel footer-buttons">
          <ul>
            <li><a href="{{ site.url }}/privacy-and-cookies-policy.html" class="footer-link">PRIVACY AND COOKIES</a></li>
            <li><a href="{{ site.url }}/terms-and-conditions.html" class="footer-link">TERMS AND CONDITIONS</a></li>
            <li><a href="{{ site.url }}/disclaimer.html" class="footer-link">DISCLAIMER</a></li>
            <li><a href="{{ site.url }}/contact-us.html" class="footer-link">CONTACT US</a></li>
          </ul>
        </div>
        <br style="clear: both;" /> -->
      </footer>
    <!-- </div> -->


    <!-- <div class="footer-container">
      <footer class="footer">
        <div class="left-panel">
          <div class="copyright">
            <ul>
              <li>&copy; CYBER EXPLAINED 2018. All rights reserved.</li>
            </ul>
          </div>
        </div>
        <div class="right-panel footer-buttons">
          <ul>
            <li><a href="{{ site.url }}/privacy-and-cookies-policy.html" class="footer-link">PRIVACY AND COOKIES</a></li>
            <li><a href="{{ site.url }}/terms-and-conditions.html" class="footer-link">TERMS AND CONDITIONS</a></li>
            <li><a href="{{ site.url }}/disclaimer.html" class="footer-link">DISCLAIMER</a></li>
            <li><a href="{{ site.url }}/contact-us.html" class="footer-link">CONTACT US</a></li>
          </ul>
        </div>
        <br style="clear: both;" />
      </footer>
    </div> -->

    <!-- Script -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <script>
      $(window).scroll(function() {
        if($(window).scrollTop() > 10) {
          $("header").removeClass("header-visible-on-scroll");
          $("header").addClass("header-hidden-on-scroll");
        } else {
          $("header").addClass("header-visible-on-scroll");
          $("header").removeClass("header-hidden-on-scroll");
        }
      });
    </script>

    <script>
      var macIntel = function() {
      }

      var iPhone = function() {
      }

      var iPad = function() {
        var footer = $(".footer-container");
        if (footer != null) { 
          footer.css("position", "absolute");
          footer.css("bottom", "0");
        }
      }

      switch (navigator.platform) {
        case "MacIntel":
          macIntel();
          break;

        case "iPhone":
          iPhone();
          break;
        
        case "iPad":
          iPad();
          break;
      }
    </script>
    <!-- <script>
      // This doesn't work for narrow screen when the media query runs.
      var sizePostRelatedArticles = function() {
        var article = $("article");
        if (article != null) {
          var margin = (($(window).width() - article.width()) / 2.0);

          var pra = $(".post-related-articles");
          if (pra != null) {
            pra.css("margin-left", -margin + "px");
            pra.css("margin-right", -margin + "px");
            pra.css("width", $(window).width() + "px");
          }

          var prac = $(".post-related-articles-container");
          if (prac != null) {
            prac.css("margin-left", margin + "px");
            prac.css("margin-right", margin + "px");
          }
        }
      }

      $(window).ready(sizePostRelatedArticles);
      $(window).resize(sizePostRelatedArticles);
    </script> -->

    {% if site.analytics_id %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.analytics_id }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
