---
layout: default
---
<article class="post-full">
  <div class="post-heading">
    <h2>{{ page.title }}</h2>
  </div>
  <div class="post-sub-heading">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
    <span>Posted in <a href="#">cyber101</a>, <a href="#">cyber-safety</a>, <a href="#">another-tag</a></span>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  <div class="post-related-articles">
    <div>YOU MAY ALSO ENJOY:</div>
    <ul>
      <li><a href="#">Some related article 1</a></li>
      <li><a href="#">Another article about cyber security</a></li>
      <li><a href="#">Blah blah blah cyber blah</a></li>
      <li><a href="#">Everyobody talks a good game but nobody means it</a></li>
    </ul>
  </div>
</article>