---
layout: default
---
<article class="post-full">
  <div class="post-heading">
    <h2>{{ page.title }}</h2>
  </div>
  <div class="post-sub-heading">
    {% assign tags_string = "" %}
    {% for tag in page.tags %}
      {% assign tags_string = tags_string | append: '<a href="#">' %}
      {% assign tags_string = tags_string | append: tag %}
      {% assign tags_string = tags_string | append: '</a>, ' %}
    {% endfor %}
    {% assign tags_string = tags_string | append: ' ' %}
    <span>{{ tags_string | replace: ',  ' }}</span>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
  </div>
  <div class="post-content">
    {{ content }}
  </div>

  {% if page.related and page.related.size > 0 %}
  <div class="post-related-articles">
    <div class="post-related-articles-heading">YOU MAY ALSO ENJOY</div>
    <ul>
    {% for related in page.related %}
      {% for post in site.posts %}
        {% if post.title == related %}
          <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
</article>