---
layout: default
---
<article class="post-full">
  <h1>{{ page.title }}</h1>
  <div class="post-sub-heading">
    {% assign tags_string = "" %}
    {% for tag in page.tags %}
      {% include tag.html %}
    {% endfor %}
    {% assign tags_string = tags_string | append: ' ' %}
    <div class="categories">{{ tags_string | replace: ',  ' }}</div>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
  </div>
  <div class="post-content">
    {{ content }}
  </div>

  {% if page.related and page.related.size > 0 %}
  <div class="post-related-articles">
    <div class="post-related-articles-heading">You may also enjoy reading:</div>
    <ul>
    {% for related in page.related %}
      {% for post in site.posts %}
        {% if post.title == related %}
          <li>
            <h2>
              <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
</article>